<div class='container-fluid'>
  <div class='row'>
    <form class='form-horizontal' role='form' id='add_music'>
      <div class='form-group'>
        <label class='col-sm-2 control-label' for='music-url'>Music: </label>
        <div class='col-sm-10'>
          <input type='text' name='url' class='form-control' id='music-url' placeholder='Put an youtube url here!'>
        </div>
      </div>
      <button type='submit' class='btn btn-default'>Rock it</button>
    </form>
  </div>

  <div class="row">
    <div>
      <h3>Playlist:</h3>
      <div>
        <span> <%= erb :playlist, layout: false %> </span>
        <ol id='playlist'>
        </ol>
      </div>
    </div>
  </div>
</div>
