<html>
	<head>
		<title>Rádio Dev - A Zuaçao é o Conteúdo</title>

		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/application.css">
		<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Joti+One' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/youtube.js"></script>
	</head>

	<body>
		<div class="row">
			<h1><span>Radio </span>Dev</h1>
			<h3>A música que você pede é a música que a gente toca!</h3>
		</div>

		<div class=container-fluid>
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<%= yield %>
			</div>
			<div class="col-md-4"></div>
		</div>
	</body>
</html>
