<div class='container-fluid'>
  <div class="row">
    <button class='btn btn-default' onClick='nextVideo()'>Next</button>
  </div>
   <div class='row' id='youtube-player'>
    <%= erb :player, layout: false %>
  </div>
</div>
